body {
    margin: 0%;
}

button {
    background-color: white;
    border: none;
}

header {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    margin: 0%;
}

header .start {
    height: 56px;
    width: 169px;
    display: flex;
    flex-direction: row;
}

header .center {
    height: 40px;
    width: 732px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .end {
    width: 225px;
    display: flex;
    justify-content: flex-start;
}

header .end .create {
    width: 97px;
    height: 36px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
}

header .end .create .create_text {
    font-family: sans-serif;
}

header button {
    height: 40px;
    width: 40px;
}

header button div {
    padding: 8px 0px;
}

header .logo {
    height: 20px;
    width: 93px;
    padding: 18px 14px 18px 16px;
}

header img {
    height: 32px;
    width: 32px;
}

.icon {
    height: 24px;
    width: 24px;
}

.nav-section img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.page_guider {
    display: flex;
    flex-direction: row;
}

.page_guider nav {
    width: 240px;
}